# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# IntelliJ
*.iml
.idea/
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources/
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# VS Code
.vscode/

# Gradle
.gradle/
build/

# Logs
*.log
log/
logs/

# BlueJ
bluej/

# JDeveloper
.jdeveloper/
.jdev/
*.jws
*.pot
*.pyc

# JAR files
*.jar

# War files
*.war

# Earl files
*.ear

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Sonar
.sonar/

# XML catalog definition
.catalog


# Compiled class file
*.class

# Log file
*.log

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
